* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

h1 {
    font-size: 2.2rem;
    color: darkblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    /*background-color: rgba(30, 1, 176, 0.41);*/
    border: 0;
    border-radius: 5px;
    color: rgba(30, 1, 176, 0.647);
    font-size: 2rem;
    margin-bottom: .5rem;
    cursor: pointer;
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    padding-left: 0%;
    width: fit-content;
    height: 100px;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
}

input[type="text"] {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
}

.button {
    background-color: rgba(0, 0, 139, 0.819);
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    width: fit-content;

}

.button:hover {
    opacity: .75;
}

.posts-item {
    width: 530px;
    padding: 1rem;
    border: #000 solid 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.posts-item p {
   /* border-left: #000 solid 3px;
    border-right: #000 solid 3px;*/
    padding-left: 1rem;
    height: 100px;
}

.posts-item:hover {
    background-color: rgba(24, 53, 93, 0.09);
    border-radius: 5px;
    transform: scale(105%);
    transition: 0.5s;
}
