.blocks {

    /*
        BEM CSS
        - Block
        - Element
        - Modifier

        - Padrão de Projeto / Design Paterns

        Exemplo: 
        .cars__title
        .cars__list
        .cars__item
        .cars__item--destack
        .cars__button
        .cars__img-container

        .blocks__element--modifier

        .b__e--m
    */

    padding: 3rem 0;

    &__title {
        color: $color-01;
    }

    &__list {
        list-style-type: none;
        font-size: $font-small;
        display: block;
        float: left;
        height: auto;
        margin: $space-default auto;
        padding: 1rem 0;
        width: 100%;
    }

    &__item {
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        text-align: center;
        width: 472px;

        @media(max-width: $laptop) {
        width: 445px;
        height: 15rem;
        }
        @media(max-width: $laptop-02){
            width: 272px;
            margin: 0.5rem 0.5rem;
        }
        @media(max-width: $tablet) {
            width: 201px;
        }
        @media(max-width: $smartphone-01) {
            width: 332px;
        }
    }
    &__img-container {
        display: block;
        height: 15rem;
        overflow: hidden;
        width: 472px;
        height: 25rem;
        object-position: bottom;
    
        @media (max-width: $laptop) {
            width: 445px;
            height: 25rem;
        }
        @media(max-width: $laptop-02){
            width: 272px;
            height: 14rem;
        }
        @media(max-width: $tablet) {
            width: 201px;
            height: 11rem;
        }
        @media(max-width: $smartphone-01) {
            width: 332px;
            height: 20rem;
        }
    }
    
    &__description {
        color: $color-default;
        font-size: $font-normal;
        @media(max-width: $tablet) {
            font-size: $font-small;
        }
    
        &--destack {
            color: $color-02;
            padding: $space-default;
            margin-top: $mt;
        }
    }
    
    &__button {
        background-color: $color-01;
        border-radius: 5px;
        color: white;
        display: block;
        width: 20rem;
        font-size: $font-medium;
        margin: $mt-02 auto $mb;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;

        @media(max-width: $tablet) {
            width: 15rem;
        }
    }



}
