.cars {
    h2 {
        color: $color-02;
    }
    li {
        color: $color-04;

        a {
            background-color: $color-default;
        }
        a:hover {
            border: 5px solid rgb(175, 2, 2);
        }
    }
}