.destack {
    background-color: $color-04;
    padding: $space-default;
    &__title {
        color: $color-03;
        font-size: $font-big;
    }
    &__subtitle {
        font-size: $font-small;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__description {
        font-size: $font-normal;
        color: $color-01;
        padding: 2rem 0;
        width: 100%;
    }
}