
header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .hero {
        align-items: flex-end;
        background-image: url('../assets/images/videogames.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        height: 40rem;
        display: flex;
        padding-bottom: 17rem;
        width: 62rem;
    }
    header .container h2 {
        font-weight: bold;
        font-size: 30px;
    }

}